@import "tailwindcss/base";
@import "tailwindcss/components";
@import "perfect-scrollbar/css/perfect-scrollbar.css";
@import "tailwindcss/utilities";

.dark .ps__rail-y,
.dark .ps__rail-x {
    background-color: transparent !important;
}

input {
    color-scheme: dark;
}
  
html:not(.dark) input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
}
